<h1>Welcome to Mountain Rider, </h1>



<% if current_rider %>
  <h1><%= current_rider.name %></h1>
 <h2><%= "Google UID: #{current_rider.uid}" if current_rider.uid %></h2>
<% else %>
  <%= link_to('Log in with Google!', '/auth/google_oauth2') %><br /></br>

  <%= link_to('Log in to Mountain Rider', login_path) %><br /><br />
  <%= link_to('Sign Up for Mountain Rider', new_rider_path)%><br />
<% end %>
