<%= form_for(@mountain) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :difficulty %>
  <%= f.number_field :difficulty %>
  <%= f.label :rank %>
  <%= f.number_field :rank %>

  <ul>
	<%= f.nested_fields_for :trails do |trails_form| %>
		<li>
			<%= trails_form.number_field :mountain_id %>
      <%= trails_form.number_field :rider_id %>
		</li>
	<% end %>
	</ul>

	<%= f.submit "Create Mountain" %>
<% end %>
