<h1>Welcome to Mountain Rider</h1>



<% if session[:rider_id] %>
  <h1><%= @rider.name %></h1>
  <h2>Email: <%= @rider.email %></h2>
  <h2>Google UID: <%= @rider.uid %></h2>
  <img src="<%= @rider.image %>">
<% else %>
  <%= link_to('Log in with Google!', '/auth/google_oauth2') %>
<% end %>
